@charset "utf-8";

body {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
}

p{
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}
